<div class="container" >
    <app-game-control (numbersOut)="beginGame($event)"></app-game-control>
    <hr>
    <div class="row">
         <!-- <div class="col-xs-12" *ngFor="let data of datas" [oddNum]="data" [evenNum]="data" >
            <app-odd *ngIf="data.type === 'Odd'" class="col-xs-5 offSet-1">
                <p #contenParagraph> <strong>{{data.type}}</strong> {{ data.value }} </p>
            </app-odd>
            <app-even *ngIf="data.type === 'Even'" class="col-xs-5 offSet-1">
                <p #contenParagraph> <strong>{{data.type}}</strong> {{ data.value }}</p>
            </app-even>
        </div> -->

         <!-- <div class="col-xs-12" >
            <app-odd *ngFor="let data of datas" [oddNum]="data" >
                <p *ngIf="data.type === 'Odd'"> <strong>{{data.type}}</strong> {{ data.value }} </p>
            </app-odd>
            <br>
            <app-even *ngFor="let data of datas" [evenNum]="data" >
                <p *ngIf="data.type === 'Even'" > <strong>{{data.type}}</strong> {{ data.value }}</p>
            </app-even>
        </div> -->
         <div class="col-xs-12" >
            <app-odd *ngFor="let data of oddNumbers" [oddNum]="data" >
                <p >{{ data }} </p>
            </app-odd>
            <app-even *ngFor="let data of evenNumbers" [evenNum]="data" >
                <p > {{ data }}</p>
            </app-even>
        </div>

    </div>

</div>